<%= form_with url: "/users/", model: @user do |form| %>
  <div>
    <%= form.label "Your username:" %><br>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label "Your email:" %><br>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label "Your password:" %><br>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
